
body {
  background-color: black;
  color: white;
}

/* Park Info Styles */

.ParkInfo {
  position: absolute;
  left: 2%;
  top: 70%;
  background: black;
  color: white;
  width: fit-content;
  height: fit-content;
}